CONFIG_ACPI
CONFIG_AD525X
CONFIG_AD5696
CONFIG_ADT7316
CONFIG_ADXL313
CONFIG_ADXL355
CONFIG_ADXL367
CONFIG_ADXL372
CONFIG_AMD
CONFIG_AMILO
CONFIG_ARCH
CONFIG_ARCNET
CONFIG_ATH9K
CONFIG_ATM
CONFIG_BATMAN
CONFIG_BATTERY
CONFIG_BLK
CONFIG_BMA400
CONFIG_BMC150
CONFIG_BME680
CONFIG_BMG160
CONFIG_BMI088
CONFIG_BMI160
CONFIG_BMI323
CONFIG_BMP280
CONFIG_BOSCH
CONFIG_BT
CONFIG_BTREE
CONFIG_BTRFS
CONFIG_BTT
CONFIG_CADENCE
CONFIG_CAN
CONFIG_CIFS
CONFIG_CLOCKSOURCE
CONFIG_COMEDI
CONFIG_CROS
CONFIG_CW1200
CONFIG_DA9052
CONFIG_DA9055
CONFIG_DA9062
CONFIG_DA9063
CONFIG_DEBUG
CONFIG_DECNET
CONFIG_DRM
CONFIG_DVB
CONFIG_DW
CONFIG_ENS160
CONFIG_F2FS
CONFIG_FB
CONFIG_FDDI
CONFIG_FIREWIRE
CONFIG_FPGA
CONFIG_FXAS21002C
CONFIG_FXLS8962AF
CONFIG_FXOS8700
CONFIG_GPIO
CONFIG_GPIOLIB
CONFIG_GREYBUS
CONFIG_HAMRADIO
CONFIG_HAVE
CONFIG_HIBERNATION
CONFIG_HID
CONFIG_HIDRAW
CONFIG_HOTPLUG
CONFIG_HP
CONFIG_HSC030PA
CONFIG_HTS221
CONFIG_HWMON
CONFIG_HYPERV
CONFIG_HYPERVISOR
CONFIG_I2C
CONFIG_IIO
CONFIG_INPUT
CONFIG_INTEL
CONFIG_INV
CONFIG_IPMI
CONFIG_IPW2200
CONFIG_ISDN
CONFIG_JFS
CONFIG_JOYSTICK
CONFIG_KPROBES
CONFIG_KVM
CONFIG_KXSD9
CONFIG_LEDS
CONFIG_MAX63XX
CONFIG_MD
CONFIG_MDIO
CONFIG_MEDIA
CONFIG_MEDIATEK
CONFIG_MEMFD
CONFIG_MEMORY
CONFIG_MENF21BMC
CONFIG_MENZ069
CONFIG_MFD
CONFIG_MLX5
CONFIG_MLXSW
CONFIG_MMA7455
CONFIG_MOST
CONFIG_MOUSE
CONFIG_MPL115
CONFIG_MPRLS0025PA
CONFIG_MPU3050
CONFIG_MS5611
CONFIG_MTD
CONFIG_NET_FDDI
CONFIG_NET_VENDOR_*
CONFIG_NFC
CONFIG_NFS
CONFIG_NFSD
CONFIG_NUMA
CONFIG_PANEL
CONFIG_PARPORT
CONFIG_PATA
CONFIG_PCCARD
CONFIG_PCIPCWATCHDOG
CONFIG_PCI_HYPERV
CONFIG_PCMCIA
CONFIG_PINCTRL
CONFIG_PM
CONFIG_PMBUS
CONFIG_PMIC
CONFIG_PMS7003
CONFIG_PNP
CONFIG_PNPACPI
CONFIG_PPPOATM
CONFIG_PPS
CONFIG_PRINTER
CONFIG_PTP
CONFIG_QCOM
CONFIG_RADIO
CONFIG_RAVE
CONFIG_RDS
CONFIG_REGMAP
CONFIG_RETU
CONFIG_RFKILL
CONFIG_RMI4
CONFIG_RTC
CONFIG_SBC
CONFIG_SCD30
CONFIG_SCSI
CONFIG_SENSORS
CONFIG_SERIAL
CONFIG_SND
CONFIG_SOFT
CONFIG_SOUND
CONFIG_SOUNDWIRE
CONFIG_SPI
CONFIG_SPS30
CONFIG_SSB
CONFIG_ST
CONFIG_STAGING
CONFIG_SURFACE
CONFIG_SUSPEND
CONFIG_SYS
CONFIG_TCG
CONFIG_THINKPAD
CONFIG_TINYDRM
CONFIG_TIPC
CONFIG_TOSHIBA
CONFIG_TOUCHSCREEN
CONFIG_TR
CONFIG_TRACE
CONFIG_TRACING
CONFIG_TRANSPARENT
CONFIG_TREE
CONFIG_TRUSTED
CONFIG_TWL4030
CONFIG_UHID
CONFIG_USB
CONFIG_USB4
CONFIG_USBIP
CONFIG_USBPCWATCHDOG
CONFIG_V4L
CONFIG_V4L2
CONFIG_VGA
CONFIG_VIDEO
CONFIG_VIDEOBUF2
CONFIG_VIDEOMODE
CONFIG_VL53L0X
CONFIG_WATCHDOG
CONFIG_WIRELESS
CONFIG_WLAN
CONFIG_WM831X
CONFIG_WM8350
CONFIG_WWAN
CONFIG_X86_64_ACPI_NUMA
CONFIG_X86_ACPI_CPUFREQ
CONFIG_X86_DEBUG_FPU
CONFIG_X86_MCE
CONFIG_X86_SGX_KVM
CONFIG_XEN_ACPI
CONFIG_XEN_MCE_LOG
CONFIG_XEN_SYS_HYPERVISOR
CONFIG_XFS
CONFIG_XILINX
CONFIG_ZIIRAVE
CONFIG_ZPA2326
